

<nav>
    <ul>
        <li> <a href="#home">Home</a> </li>
        <li> <a href="#about">About</a> </li>
        <li> <a href="#portfolio">Portfolio</a> </li>
        <li> <a href="#contact">Contact</a> </li>
    </ul>
</nav>

<div id="home">
  <h1>Spiderman</h1>
  <h2>Web Developer</h2>

  <div id="main_image">
    <%= image_tag("spiderman.png") %>
  </div>
</div>

<div id="about">
  <h2> About </h2>
  <p>In Forest Hills, Queens, New York, high school student Peter Parker is a science-whiz orphan living with his Uncle Ben and Aunt May.</p>
  <h2> Skills </h2>
  <ul>
    <li>Debugging</li>
    <li>Web Technologies</li>
    <li>Style</li>
  <ul>
</div>

<div id="portfolio">
  <h2>Portfolio</h2>
  <%= image_tag("daily1.jpg") %>
  <%= image_tag("daily2.jpg") %>
  <%= image_tag("daily3.jpg") %>
  <%= image_tag("daily4.jpg") %>
</div>

<div id="contact">
  <h2>Contact</h2>
  <p> I got dat Spidey Sense </p>
</div>
